
.grid{
    display: grid;
}
.grid-container {
    gap: 2px;
    /* left side bar 32 + 2 + 32 */
    grid-template-columns: 66px auto;
    /* bottom side bar 32 + 2 + 32 */
    grid-template-rows: auto 66px;
    padding: 10px;
    box-sizing: border-box;
}

.left-side-bar {
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/2;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.left-side-bar-column {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.three-row-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2px;
}


.three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2px;
}

.bottom-side-bar {
    width: 100%;
    height: 100%;
    grid-area: 2/2/3/3;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
}

.bottom-side-bar-row {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}


.grid-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-area: 1/2/2/3;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.side-bar-label-vertical {
    position: absolute;
}
.side-bar-label {
    font-family: "PingFang SC";
    max-width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-container {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
}

.rotate-label {
    transform-origin:center 50%;
    transform: rotate(-90deg);
}

.cell {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 34px auto;
}

.cell-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 16px;
}

.cell-header-left-text {
    margin-left: 0;
    height: 100%;
    line-height: 33px;
    text-align: left;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}
.cell-header-right-text {
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    line-height: 33px;
    text-align: right;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.cell-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    row-gap: 8px;
}

.cell-content-category {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell-content-scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
}
.cell-content-group {
    width: 100%;
    height: max-content;
    border-left: 3px solid transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
}

.person-label {
    font-family: "PingFang SC";
    width: max-content;
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
