.semi-tabs-bar {
    display: flex;
    justify-content: center;
}

.select-list > .semi-select-selection {
    margin-left: 0;
    margin-right: 10px;
    flex-grow: 0;
}

.select-list > .semi-select-arrow {
    width: 10px;
    height: auto;
    overflow: visible;
}

.select-list:focus {
    border: none;
}

.select-list {
    border: none;
    overflow: visible;
}

.select-list:hover {
    border: none;
}

.textAlign > .semi-select-selection {
    display: none;
}

/* .textAlign > .semi-select-arrow {
  display: none;
} */

.inputNumber {
    background-color: 'rgba(var(--semi-color-bg-1))';
    width: 10px;
    padding: 0 0;
    border: 1px;
    border-radius: 6px;
    border-style: solid;
    border-color: #D0D3D6;
    outline: none;
}

.inputNumber > .semi-input-wrapper > input {
    background-color: 'rgba(var(--semi-color-bg-1))';
    outline: none;
    border-radius: 6px;
}

.inputNumber > .semi-input-wrapper {
    border: none;
}

.selectColorDrop {
    padding: 10px 10px;
}

.selectColorDrop > .semi-select-option-list {
    display: flex;
    justify-content: start;
    gap: 5px;
    flex-wrap: wrap;
}
