.semi-tabs-bar {
    display: flex;
    justify-content: center;
}

.select-list > .semi-select-selection {
    margin-left: 0;
    margin-right: 10px;
    flex-grow: 0;
}

.select-list > .semi-select-arrow {
    width: 10px;
    height: auto;
    overflow: visible;
}

.select-list:focus {
    border: none;
}

.select-list {
    border: none;
    overflow: visible;
}

.select-list:hover {
    border: none;
}

.textAlign > .semi-select-selection {
    display: none;
}

/* .textAlign > .semi-select-arrow {
  display: none;
} */

.inputNumber {
    background-color: 'rgba(var(--semi-color-bg-1))';
    width: 10px;
    padding: 0 0;
    border: 1px;
    border-radius: 6px;
    border-style: solid;
    border-color: #D0D3D6;
    outline: none;
}

.inputNumber > .semi-input-wrapper > input {
    background-color: 'rgba(var(--semi-color-bg-1))';
    outline: none;
    border-radius: 6px;
}

.inputNumber > .semi-input-wrapper {
    border: none;
}

.selectColorDrop {
    padding: 10px 10px;
}

.selectColorDrop > .semi-select-option-list {
    display: flex;
    justify-content: start;
    gap: 5px;
    flex-wrap: wrap;
}


.selection-title {
    font-size: 14px;
    font-weight: 400;
    font-family: "PingFang SC";
    line-height: 22px;
    padding-bottom: 8px;
}

.form-list {
    row-gap: 20px;
}

.selection-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.selection-card {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 8px;
    gap: 6px;
    background-color: #F5F6F7;
    border: 1px solid #DEE0E3;
}

.selection-card-title {
    font-size: 12px;
    font-weight: 400;
    font-family: "PingFang SC";
    line-height: 20px;
}

.selection-card-bottom-text {
    font-size: 12px;
    font-weight: 400;
    font-family: "PingFang SC";
    line-height: 20px;
    text-align: center;
    color: #1456F0;
}

.delete-able-select-container {
    display: grid;
    grid-template-columns: auto 15px;
    column-gap: 15px;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.margin-top-tw {
    margin-top: 20px;
}

.margin-bottom-tw {
    margin-bottom: 20px;
}

.semi-form-field-label-text {
    font-family: "PingFang SC";
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #646A73;
}

.semi-form-field {
    padding: 0 !important;
}

.delete-icon {
    width: 15px;
    height: 15px;
}


.add-icon {
    width: 10px;
    height: 10px;
}
