@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    width: 100%;
    height: 100%;
    background: transparent none !important;
}

#root {
    height: 100%;
}


body[theme-mode="light"] {
    --svg-path-fill: #646A73;
    --svg-path-fill-disable: #646A735f;
}

body[theme-mode="dark"] {
    --svg-path-fill: #ffffff;
    --svg-path-fill-disable: #ffffff5f;
}
